  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 745px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
  }
  .radio{
    margin-left: 13px;
  }
